.footer {
  /* border: 2px solid; */
  /* font-size: medium; */
  margin: auto;
}
.footerA2 p:hover {
  cursor: pointer;
  color: pink;
}

.footerA1 {
  /* border: 2px solid grey; */
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-evenly;
  height: 7rem;
  /* padding: 10px; */
  font-size: large;
  align-items: center;
}

.footerA2 {
  /* border: 2px solid; */
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  align-content: center;
}
.fA21 {
  width: 15%;
  display: flex;
  /* justify-content: space-around; */
  align-items: flex-start;
  /* justify-content: space-evenly; */
  flex-direction: column;
}
.fA21 h4 {
  font-weight: 600;
}
.fA24 {
  /* width: 40%; */
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  /* border: 2px solid grey; */
  /* flex-direction: column; */
}
.fA24 p {
  padding: 5px;
}
.footerA3 {
  padding: 10px;
  margin: 10px;
}
.fA31 {
  display: flex;
  justify-content: space-evenly;
  background-color: #f9f9f9;
  height: 7rem;
}
.fA311 {
  display: flex;
  /* border: 2px solid; */
  width: 20%;
  justify-content: space-around;

  align-items: center;
}
.fA311I {
  height: 1.5rem;
  /* border: 2px solid; */

  display: flex;
  justify-content: center;
  align-content: center;
}

.footerA4 {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin: auto;
}
.footerA4 h3 {
  font-weight: bold;
}
.footerA41 {
  height: 8rem;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
